<div class="analytics-card">

    <div class="analytics-card-header">

        <div>
            <h2 class="analytics-title">LIVE SENSOR MAP VIEW</h2>

            <p class="analytics-subtitle">
                Map view of the sensor and its coverage.
            </p>
        </div>

        <div class="sensor-header-right">

            <div class="sensor-last-update">
                Last update:
                <span id="sensor-last-update">--</span>
            </div>

            <div id="sensor-activity-status-badge"
                class="sensor-activity-status online">

                <span class="sensor-activity-dot"></span>
                <span class="sensor-activity-text">Online</span>

            </div>

        </div>

    </div>

    <div class="analytics-card-body">

        <div id="sensor-map" class="sensor-map">></div>

    </div>

</div>