<div class="assessment-tooltip">

    <div class="assessment-card {{ mmda_class }}"
        id="{{ prefix }}-assessment-card">

        <svg
            class="assessment-bg-icon"
            viewBox="0 0 24 24"
            fill="currentColor">

            <path d="M12 2C12 2 5 10 5 15.5C5 19.642 8.358 23 12.5 23C16.642 23 20 19.642 20 15.5C20 10 12 2 12 2Z"/>

        </svg>

        <div
            id="{{ prefix }}-assessment-label"
            class="assessment-label">

            {{ label }}

        </div>

        <div class="assessment-value">

            <span id="{{ prefix }}-assessment-value">
                {{ height }}
            </span>

            <span class="assessment-unit">
                cm
            </span>

        </div>

        <div
            id="{{ prefix }}-assessment-category"
            class="assessment-mmda-category {{ mmda_class }}">

            {{ mmda_text }}

        </div>

    </div>

    {% include "analytics/components/model_forecast/tooltip_mmda.html" %}

</div>